
.description{
    padding-left: 15%;
    padding-top: 4%;
    font-size: large;
    color: black;
}
.link{
    padding-left: 15%;
    font-size: large;
    color: black;
    padding-top: 1%;
}
.details{
    padding-right: 15%;
    font-size: large;
    color: black;
    padding-top: 1%;
}